.templateTopSec {
  display: flex;
  justify-content: space-between;
}
.templateHeader {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.templateHeaderItem {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: #3f3e3e;
}

.templateHeaderSummary {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #989898;
}

.advertContainer {
  padding-top: 0.5rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #252525;
}

.searchContainer {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  justify-content: space-between;
  border-radius: 0.5rem;
  width: 30%;
}
.searchIcon {
  width: 10%;
  padding-left:0.5rem;
}
.searchBox::placeholder {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #8f8b8b;
}

.searchBox,
.searchBox:hover,
.searchBox:focus-within {
  outline: none;
  border: none;
}
.searchBox {
  width: 90%;
  border: none;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 0.5rem;
}

.searchBox:focus {

  background-color: rgba(143, 139, 139, 0.1);
}

.dropdownsWrapper {
  width: 60%;
  display: inline-flex;
  justify-content: stretch;
  align-items: center;
}

.dropdown {
  flex: 1 1 auto;
  margin-right: 2rem;
  /* border: 1px solid black */
}

.feedBoxWrapper {
  margin:8rem  0 6rem;
}
.paginateContainer {
  padding: 3rem;
  display: flex;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  justify-content: space-between;
}

.paginateBtn {
  margin: 0 2rem;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.paginateBtn:hover:not(:disabled) {
  text-decoration: underline;
  cursor: pointer;

}

.paginateBtn:disabled {
  cursor: not-allowed;
}


.noTotalContainer {

}

.presentPageNo {
  padding: 0.4rem 1rem;
  border-radius: 3px;
  border: 1px solid #3f3f3f;
}

.pagItem {
  display: inline-block;
  margin: 0 1rem;
}

.sortlabel {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #989898;
}

/* Media Query  */
@media screen and (max-width: 1200px) {
  .templateTopSec {
    flex-direction: column;
  }
  .searchContainer,
  .dropdownsWrapper {
    width: 100%;
  }

  .dropdownsWrapper {
    margin: 2rem 0 0;
  }

  .dropdown {
    margin-right: 1rem;
  }
  .searchBox {
    width: 93%;
  }

  .searchIcon {
    width: 5%;
  }
}

@media screen and (max-width: 720px) {
  .templateTopSec {
    display: flex;
    flex-direction: column;
  }
  .dropdownsWrapper {
    width: 100%;
    flex-direction: column;
  }
  .searchContainer {
    width: 100%;
  }
  .dropdown {
    flex: 1 0 100%;
    align-self: stretch;
    margin-right: 0px;
    margin: 1rem  0;
    /* border: 1px solid black */
  }

  .searchIcon {
    width: 10%;
  }
}

@media screen and (max-width: 460px) {
    .paginateContainer{
        padding:1rem
    }

    .presentPageNo {
      padding:0px 0.5rem
    }

    .pagItem {
      margin : 0 3px
    }
    .noTotalContainer{
        align-content: center;
    align-self: center;
    display:flex
    }
    .paginateBtn {
      flex:0 0 30%;
        margin: 0 0.5rem;
    }
}