.feedBackWrapper {
  background: #fff4ea;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 22px;
}


@media screen and (max-width: 767px) {
    .feedBackWrapper {
      flex-direction: column;
      align-items: center;
      padding: 10px;
      margin: 0;
    }
}