.cardListWrapper {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 50px;
}

@media  screen and  (max-width : 1060px ){
    .cardListWrapper{
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(8,1fr);
    }
}

@media  screen and  (max-width : 600px ){
    .cardListWrapper{
        grid-template-columns:1fr;
        grid-template-rows:repeat(15,1fr);
    }
}