.cardWrapper {
  background: #ffffff;
  box-shadow: 0px 4px 3rem rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardWrapper:hover {
  box-shadow: 0px 1rem 5rem  rgba(58, 40, 40, 0.4);
}

.linkWrapper,
a {
  background: #f9f9f9;
  padding: 1.2rem;
  color: #08bd37;
  font-size: 1.8rem;
  line-height: 1.8rem;
  cursor: pointer;
}

a:hover {
  color: #51e97a;
}

.cardContent {
  flex: 1 1 70%;
  padding: 1.8rem;
}

h1 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3rem;
}

.cardDesc {
  margin: .1.7rem 0 4rem 0;
}

.cardLink {
  all: inherit;
}
